{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="page">
	<div class="form">
		<h1 class="form__title">Тип події: Буфер обміну</h1>

		<div class="form__group">
			<label class="form__label" for="username">Ім'я користувача</label>
			<input class="form__input" value="user25123" type="text">
		</div>



	</div>
</main>





{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}