{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="page">
	<form class="form">
		<h1 class="form__title">Взаємодія з мишкою</h1>

		<div class="form__area" id="clickArea">Площа для натискання</div>

		<div class="form__area" id="mouseArea">
			<div style="padding: 24px">Площа <span>миші</span> </div>
		</div>
	</form>
</main>


{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}