{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="page">
	<div class="form">
		<h1 class="form__title">Прокручування колеса миші</h1>
		<p class="form__label" style="height: 500vh;"></p>
	</div>
</main>





{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}