{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="page">
	<div class="form">
		<h1 class="form__title">Тип події: Зміна якоря</h1>

		<a href="/hash/#section1">Перехід до Розділу 1</a>

		<a href="/hash/#section2">Перехід до Розділу 2</a>

		<div id="section1">
			<h2>Розділ 1</h2>
		</div>

		<div id="section2">
			<h2>Розділ 2</h2>
		</div>
	</div>
</main>





{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}