{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="page">
	<form class="form">
        <h1 class="form__title">Тип події: CSS-перехід</h1>
        <div class="transition-element"></div>
        <button class="form__button" id="startTransition">Start Transition</button>
        <button class="form__button" id="cancelTransition">Cancel Transition</button>
    </form>
</main>





{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}
