{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="page">
	<form class="form">
		<h1 class="form__title">Тип події: Зміна видимості сторінки</h1>

		<p class="form__label">Відстежимо зміни видимості сторінки.</p>
		<p class="form__label" id="status">Статус: Невидима</p>
	</form>
</main>


{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}