.page {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;

  display: grid;
  gap: 24px;

  &__title {
    font-size: 24px;
  }
}

#dragElement {
  width: 100px;
  height: 50px;
  background-color: #66c;
  color: white;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

#dropZone {
  width: 200px;
  height: 150px;
  border: 2px dashed #999;
  margin-top: 20px;
  padding: 20px;
}
